[Destkop Entry]
Type=Application
Name=Bilibili for Linux
GenericName=Bilibili for Linux
Comment=Watch videos from bilibili.tv
Exec=/home/marguerite/Public/BiliGui/BiliGui.rb
Icon=/home/marguerite/Public/BiliGui/bilibili.png
Terminal=false
Categories=AudioVideo;Video;Player;
